<body>
      <h1>Favorite Traveling Photos</h1>
        <ul>
          <li><img src='http://images.all-free-download.com/images/graphicthumb/hd_flowers_photo_04_hd_picture_169264.jpg' alt='A photo of a canyon.'/></li>
          <li><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLbvoddShFwTWEKYwvCUZTI-2Y9WdlYr8QtRwy007iGEnrQUHh' alt='A photo of a bridge.'/></li>
          <li><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSk_yOyibBBA_lI3_CSo5gqOIdSqSLT3_1w0BfmRgEi1ZIm1Qu' alt='A photo of a mountain.'/></li>
        </ul>
    </body>