<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Friend!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <div class="container">
        <%= yield %>
      </div>
      <p><a href='/favourite_photos' >P.S. Check out my favorite travel photos here.</a></p>
       <p><a href='/australia' >P.S. View my australian letter</a></p>
       <p><a href='/' >Home</a></p>
    </body>
  </html>